<div class="text-center mt-4">
  <h3>Escalação 4-3-3</h3>
  <button type="button" class="btn btn-primary btn-rounded" mdbRipple>
    Calcular pontuação
  </button>

  <div class="campo">
    <app-jogador-card
      *ngFor="let pos of formacaoAtual"
      [style.top]="pos.top"
      [style.left]="pos.left"
      class="card-no-campo"
      [jogador]="mapaSelecionados[pos.chave]"
      [jogadores]="mapaListas[pos.chave]"
      [posicao]="pos.posicao"
      (jogadorSelecionado)="selecionarPorChave(pos.chave, $event)">
    </app-jogador-card>
  </div>

</div>