<br/>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card"><!--Este card que está fornecendo essa tela cinza no fundo-->
                <div class="card-body">
                    <h3>Listagem de jogadores</h3>
                    
                    <div class="d-flex justify-content-between align-items-center gap-2 mb-3">
                        <!-- Ordenar por -->
                        <div class="d-flex align-items-center gap-2">
                            <span class="fw-bold">Ordenar por:</span>
                            <div mdbDropdown class="dropdown">
                                <button
                                mdbDropdownToggle
                                type="button"
                                class="btn btn-outline-secondary btn-sm dropdown-toggle">
                                {{ textoOrdenacaoSelecionada }}
                                </button>

                                <ul mdbDropdownMenu class="dropdown-menu">
                                <li><a class="dropdown-item" (click)="selecionarOrdenacao('idJogador1|asc', 'ID Jogador → Menor para maior')">ID Jogador → Menor para maior</a></li>
                                <li><a class="dropdown-item" (click)="selecionarOrdenacao('idJogador1|desc', 'ID Jogador → Maior para menor')">ID Jogador → Maior para menor</a></li>

                                <li><a class="dropdown-item" (click)="selecionarOrdenacao('nome|asc', 'Nome → A-Z')">Nome → A-Z</a></li>
                                <li><a class="dropdown-item" (click)="selecionarOrdenacao('nome|desc', 'Nome → Z-A')">Nome → Z-A</a></li>

                                <li><a class="dropdown-item" (click)="selecionarOrdenacao('dataNascimento|asc', 'Data nascimento → mais antigo para mais novo')">Data nascimento → mais antigo para mais novo</a></li>
                                <li><a class="dropdown-item" (click)="selecionarOrdenacao('dataNascimento|desc', 'Data nascimento → mais novo para mais antigo')">Data nascimento → mais novo para mais antigo</a></li>
                                    

                                <li><a class="dropdown-item" (click)="selecionarOrdenacao('pais|asc', 'País → A-Z')">País → A-Z</a></li>
                                <li><a class="dropdown-item" (click)="selecionarOrdenacao('pais|desc', 'País → Z-A')">País → Z-A</a></li>

                                <li><a class="dropdown-item" (click)="selecionarOrdenacao('posicao|asc', 'Posição → A-Z')">Posição → A-Z</a></li>
                                <li><a class="dropdown-item" (click)="selecionarOrdenacao('posicao|desc', 'Posição → Z-A')">Posição → Z-A</a></li>

                                <li><a class="dropdown-item" (click)="selecionarOrdenacao('overall|asc', 'Overall → Menor para maior')">Overall → Menor para maior</a></li>
                                <li><a class="dropdown-item" (click)="selecionarOrdenacao('overall|desc', 'Overall → Maior para menor')">Overall → Maior para menor</a></li>
                                </ul>
                            </div>
                        </div>                     
                        <button type="button" 
                                class="btn btn-primary btn-rounded" 
                                mdbRipple 
                                (click)="abrirNovo()">Novo
                        </button>
                    </div>
                    
                    <br>
                    <table border="2" class="table">
                        <thead class="table-dark">
                            <tr>
                                <th>ID Jogador</th>
                                <th>Nome do jogador</th>
                                <th>Data de nascimento</th>
                                <th>País</th>
                                <th>Posição</th>
                                <th>Overall</th>
                                <th>Ações</th>
                            </tr>
                            <tr>
                                <th><input type="text" class="form-control form-control-sm" [(ngModel)]="filtro.idJogador1" placeholder="Filtrar..."/></th>
                                <th><input type="text" class="form-control form-control-sm" [(ngModel)]="filtro.nome" placeholder="Filtrar..."/></th>
                                <th><input type="text" class="form-control form-control-sm" [(ngModel)]="filtro.dataNascimento" placeholder="Filtrar..."/></th>
                                <th><input type="text" class="form-control form-control-sm" [(ngModel)]="filtro.pais" placeholder="Filtrar..."/></th>
                                <th><input type="text" class="form-control form-control-sm" [(ngModel)]="filtro.posicao" placeholder="Filtrar..."/></th>
                                <th><input type="text" class="form-control form-control-sm" [(ngModel)]="filtro.overall" placeholder="Filtrar..."/></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (jogador of listaFiltrada; track $index){
                            <tr>
                                <td>{{jogador.idJogador1}}</td>
                                <td>{{jogador.nome}}</td>
                                <td>{{ jogador.dataNascimento | date:'dd/MM/yyyy' }}</td>
                                <td>{{jogador.pais}}</td>
                                <td>{{jogador.posicao}}</td>
                                <td>{{jogador.overall}}</td>               
                                                              
                                <td class="direita">
                                    <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="edit(jogador)">
                                        Editar
                                    </button>
                                    <button type="button" class="btn btn-danger btn-rounded" mdbRipple (click)="deleteById(jogador)">
                                        Deletar
                                    </button>        
                                </td>
                            </tr>
                        } 
                        </tbody>
                    </table>
                
                </div>
            </div>        

        </div>
    </div> 
</div>  




<ng-template #modalJogadorDetalhe>
<!--Essa tag está isolando a div abaixo, 
    ou seja, evita que seja rederizado na tela enquanto
    não houver chamada do usuário-->

<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">

    <app-jogadoresdetails [jogador]="jogadorEdit" (retorno)="retornoDetalhe($event)"></app-jogadoresdetails>
    
    
    
    
</div>
</ng-template>